header {
  @include outer-container;
  background: url("../../img/header-bkgd@2x.png") repeat-x;
  background-size: 1440px 449px;
  padding: 30px 0 40px;
  @include MQ(M) {
    padding: 80px 0 150px;
    position: relative;
  }
  nav {
    display: none;
    @include MQ(M) {
      display: block;
      z-index: 8;
      position: absolute;
      top: 170px;
      right: 50px;
      .social li {
        list-style-type: none;
        margin-bottom: 20px;
        a {
          text-decoration: none;
          opacity: 0.5;
          -webkit-transition: opacity 1s;
          transition: opacity 1s;
        }
        &:hover > a {
          opacity: 1;
        }
      }
    }
  }
  .card {
    @include span-columns(10);
    @include shift(1);
    background: $snow;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    padding: 20px 30px;
    margin-top: 30px;
    text-align: left;
    @include MQ(M) {
      @include span-columns(8);
      @include shift(4);
      position: relative;
      padding: 60px 90px;
      margin-top: 0px;
    }
    svg {
      margin-bottom: 10px;
      @include MQ(M) {
        margin-bottom: 30px;
      }
    }
    h1 {
      margin-bottom: 2rem;
      @include MQ(M) {
        font-size: 6.6rem;
        margin-bottom: 3rem;
      }
    }
    .line {
      @include line;
      width: 100px;
      margin-bottom: 2rem;
      @include MQ(M) {
        margin-bottom: 3rem;
      }
    }
    p {
      max-width: 500px;
    }
  }
  .paul-hershey {
    display: none;
    @include MQ(M) {
      @include span-columns(2);
      @include shift(1);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
      position: absolute;
      top: 200px;
      left: -100px;
      display: block;
      width: 540px;
      height: 540px;
      background: url("../../img/paul-hershey@2x.png");
      background-size: 540px 540px;
    }
  }
  .down-arrow {
    display: none;
    @include MQ(M) {
      @include span-columns(1);
      @include shift(7);
      display: block;
      position: absolute;
      top: 580px;
      z-index: 4;
    }
  }
}
