body {
	/* prevent ie from showing the horizontal scrollbar */
	overflow-x: hidden;

	&.overflow-hidden {
		/* when author bio is visible, the out-of-focus content won't scroll */
		overflow: hidden;
	}
}

main {
	position: relative;
	z-index: $main-zindex;
	@include transition-property(transform);
	@include transition-duration(.3s);

	&.slide-out {
		/* the main element slides to the left when the author bio is visible */
		@include transform(translateX(-$study-width-S));

		.overlay {
			/* the overlay layer gets visible when the author bio slides in */
			display: block;
			@include animation(fade-in .3s);
		}
	}

	@include MQ(M) {
		&.slide-out {
			/* change in size of the author bio section */
			@include transform(translateX(-$study-width-M));
		}
	}

	@include MQ(L) {
		&.slide-out {
			@include transform(translateX(-$study-width-L));
		}
	}
}



.work {
  @include outer-container;
  padding: 50px 0;
  text-align: center;
  @include MQ(M) {
    padding: 120px 0;
  }
  h2 {
    margin-bottom: 4rem;
    @include MQ(M) {
      font-size: 3rem;
      margin-bottom: 10rem;
    }
  }
  .project {
    position: relative;
    height: 600px;
    @include MQ(M) {
      height: 800px;
    }
		.view {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 120px;
	    .button-left {
				margin: 0 auto;
				text-align: center;
	      width: 150px;
	      z-index: 3;
	      @include MQ(M) {
	        bottom: 305px;
	        left: -200px;
	      }
	    }
			.button-right {
				margin: 0 auto;
				text-align: center;
	      width: 150px;
	      z-index: 3;
	      @include MQ(M) {
	        bottom: 310px;
	        left: 205px;
	      }
	    }
		}
    .photo-bisk {
      @include span-columns(10);
      @include shift(1);
      background-image: url('../img/bisk-iso.png');
      background-size: 780px 480px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      top: 0px;
      z-index: 1;
      height: 150px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      @include MQ(M) {
        @include span-columns(8);
        @include shift(2);
        background-image: url('../img/bisk-iso.png');
        background-size: 780px 480px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        display: block;
        right: 80px;
        width: 780px;
        height: 600px;
      }
    }
    .photo-gate-retail {
      @include span-columns(10);
      @include shift(1);
      background-image: url('../img/gro-iso.png');
      background-size: 780px 600px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      top: 0px;
      z-index: 1;
      height: 150px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      @include MQ(M) {
        @include span-columns(8);
        @include shift(1);
        background-image: url('../img/gro-iso.png');
        background-size: 780px 600px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        display: block;
        top: 0px;
        width: 780px;
        height: 600px;
      }
    }
    .photo-reflections {
      @include span-columns(10);
      @include shift(1);
      background-image: url('../img/reflection-iso.png');
      background-size: 780px 600px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      top: 0px;
      z-index: 1;
      height: 150px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      @include MQ(M) {
        @include span-columns(8);
        @include shift(1);
        background-image: url('../img/reflection-iso.png');
        background-size: 780px 600px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        display: block;
        top: 0px;
        width: 780px;
        height: 600px;
      }
    }
    .photo-crush-cart {
      @include span-columns(10);
      @include shift(1);
      background-image: url('../img/crush-cart.png');
      background-size: 780px 480px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      top: 0px;
      z-index: 1;
      height: 150px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      @include MQ(M) {
        @include span-columns(8);
        @include shift(2);
        background-image: url('../img/crush-cart.png');
        background-size: 780px 480px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        display: block;
        top: 80px;
        right: 80px;
        width: 780px;
        height: 480px;
      }
    }
    .card-left {
      @include span-columns(10);
      @include shift(1);
      background: #FFFFFF;
			min-height: 300px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      padding: 30px;
      text-align: left;
      position: absolute;
      top: 150px;
      margin-bottom: 8rem;
      z-index: 2;
      @include MQ(M) {
        @include span-columns(4);
        @include shift(2);
        margin-bottom: 10rem;
        padding: 50px;
				min-height: 345px;
        top: 0;
      }
      .line {
        @include line;
        width:45px;
        margin-bottom: 2rem;
        @include MQ(M) {
          margin-bottom: 3rem;
        }
      }
    }
    .card-right {
      @include span-columns(10);
      @include shift(1);
      background: #FFFFFF;
			min-height: 300px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      padding: 30px;
      text-align: left;
      position: absolute;
      top: 150px;
      margin-bottom: 8rem;
      z-index: 2;
      @include MQ(M) {
        @include span-columns(4);
        @include shift(6);
        margin-bottom: 10rem;
        padding: 50px;
				min-height: 345px;
        top: 0;
      }
      .line {
        @include line;
        width:45px;
        margin-bottom: 2rem;
        @include MQ(M) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}



.case-study-close {
	width: 32px;
	height: 32px;
	overflow: hidden;
	position: fixed;
	top: 10px;
	right: 10px;
	background: url('../img/icon-close.svg') no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	z-index: $close-study;
	display: none;

	&.is-visible {
		display: block;
		@include animation(move-in .8s);
	}

	@include MQ(L) {
		right: 20px;
		top: 20px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($doughnut, .8);
	cursor: pointer;
	display: none;
}

/* --------------------------------

xkeyframes

-------------------------------- */

@include keyframes(fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@include keyframes(move-in) {
	0% {
		@include transform(translateX(100px));
	}

	100% {
		@include transform(translateX(0));
	}
}
