.calendar {
  @include outer-container;
  padding: 50px 0;
  text-align: center;
  @include MQ(M) {
    padding: 120px 0;
  }
  h2 {
    margin-bottom: 4rem;
    @include MQ(M) {
      font-size: 3rem;
      margin-bottom: 5rem;
    }
  }
  .card {
    @include span-columns(10);
    @include shift(1);
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    padding: 70px 20px 0px 20px;
    position: relative;
    margin-bottom: 8rem;
    @include MQ(M) {
      @include span-columns(8);
      @include shift(2);
      margin-bottom: 10rem;
      padding: 30px 0 30px 25px;
    }
    .three {
      @include span-columns(8 of 8);
      @include MQ(M) {
        @include span-columns(3 of 8);
        margin-top: 26px;
        text-align: right;
      }
    }
    .two {
      @include span-columns(8 of 8);
      @include MQ(M) {
        @include span-columns(2 of 8);
        margin: 20px 0 0 20px;
      }
    }
    .date {
      @include MQ(M) {
        text-align: right;
        margin-top: 26px;
      }
      p {color: $blue-pants;}
    }
    button {
      position: relative;
      top: 30px;
      width: 150px;
      height: 60px;
      margin: 0 auto;
      background: $doughnut;
      color: $snow;
      font-family: $primary-font;
      font-size: 1.7rem;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
      border:none;
      @include MQ(M) {
        position: absolute;
        top: 100px;
        right: 40px;
        width: 150px;
      }
    }
  }
}
