/* Parallax base styles
  --------------------------------------------- */
.parallax {
  -webkit-perspective: 300px;
  perspective: 300px;
}
.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.parallax__layer--back {
  -webkit-transform: translateZ(-60px) scale(1.3);
  transform: translateZ(-60px) scale(1.3);
  z-index: 3;
}
.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
